<?xml version='1.0' encoding='UTF-8'?> 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory> 
		<!-- <property name="connection.url">jdbc:mysql://localhost/clientUsersDb</property> -->
		<!--  <property name="connection.url">jdbc:sqlite:/home/pasquale/</property>-->
		<!--<property name="connection.username">root</property>-->
		<!--<property name="connection.password">72778253</property>-->
		<!-- _____________ End of To be Edited ______________ -->

		<property name="connection.driver_class">org.sqlite.JDBC</property>
		<!-- <property name="dialect"> org.hibernate.dialect.MySQL5InnoDBDialect</property>-->
		<property name="dialect">util.SQLiteDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="cache.providerclass">org.hibernate.NoCacheProvider</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="usersManagement.User"/>
		<mapping class="usersManagement.UserPublicKeyKnown"/>

	</session-factory>
</hibernate-configuration>